/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/all.scss */
html, body {
  font-size: 16px;
}

/* line 18, ../sass/all.scss */
.padding {
  padding: 0;
}

/* line 24, ../sass/all.scss */
.page-loader {
  background-color: #f9efed;
  position: fixed;
  z-index: 1000;
  width: 100%;
}
/* line 29, ../sass/all.scss */
.page-loader .loader-content {
  text-align: center;
  top: 40%;
  position: absolute;
  width: 100%;
}
/* line 34, ../sass/all.scss */
.page-loader .loader-content h1 {
  font: 3rem "LatoLightItalic";
  text-align: center;
  animation: fade-bottom 1s;
}
/* line 39, ../sass/all.scss */
.page-loader .loader-content p {
  font: 1.5rem "LatoLightItalic";
  padding-bottom: 10px;
  animation: simple-fade 2s 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 48, ../sass/all.scss */
.page-loader .loader-content img {
  width: 55px;
  animation: rotate 1.5s 1s;
}

/* line 55, ../sass/all.scss */
.page-container {
  backface-visibility: hidden;
}
/* line 57, ../sass/all.scss */
.page-container .left-side {
  animation: animation-slide-right 1.5s 2.5s;
}
/* line 59, ../sass/all.scss */
.page-container .left-side .overlay-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
     /* h3 {
        top: 75%;
        color: rgba(255,255,255,0.6);
        z-index: 1;
        position: relative;
        font: 2.8rem $font-LatoI;
        text-align: center;

      }*/
}
/* line 66, ../sass/all.scss */
.page-container .left-side .overlay-panel img {
  position: absolute;
  z-index: 1;
}
/* line 80, ../sass/all.scss */
.page-container .left-side .slideshow {
  /* ul {
     position: relative;
     z-index: 10;
     width: 100%;
     margin: 0;
     padding: 0;
     list-style: none;
     overflow: hidden;
     li {
       height: 100vh !important;
       .bg-inna {
         background: url("../img/inna1_1.jpg");
         height: 100vh;
         background-size: cover;
         animation: scale 10s 4s;
         -webkit-animation-fill-mode: both;
         animation-fill-mode: both;
       }
       }*/
}
/* line 82, ../sass/all.scss */
.page-container .left-side .slideshow .carousel-inner .item {
  transition: 0.6s ease-in-out right;
}
/* line 86, ../sass/all.scss */
.page-container .left-side .slideshow .carousel-inner .item img {
  object-fit: cover;
  object-position: inherit;
  height: 100vh !important;
  width: 100%;
  animation: scale 25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* =========Keyframes===========*/
@keyframes fade-bottom {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes simple-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes animation-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
/* =========FlexBox===========*/
/* line 185, ../sass/all.scss */
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 192, ../sass/all.scss */
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 200, ../sass/all.scss */
.flex-column {
  -webkit-flex-direction: column;
  flex-direction: column;
}

/* line 205, ../sass/all.scss */
.flex-row {
  -webkit-flex-direction: row;
  flex-direction: row;
}

/* line 211, ../sass/all.scss */
.flex-center-all {
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
}

/*============ Clearfix=========== */
/* line 219, ../sass/all.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 223, ../sass/all.scss */
.clearfix:after {
  clear: both;
}

/* line 227, ../sass/all.scss */
.clrearfix {
  zoom: 1;
}
