/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*five parametrs (background-color, border-color,
 text-color, border-radius, text-transform) */
/* line 15, ../sass/all.scss */
html, body {
  font-size: 16px;
}

/* line 19, ../sass/all.scss */
.body {
  overflow: hidden;
  padding-right: 0 !important;
}

/* line 24, ../sass/all.scss */
.padding {
  padding: 0;
}

/* line 28, ../sass/all.scss */
.page-loader {
  background-color: #f9efed;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

/* line 36, ../sass/all.scss */
.content {
  text-align: center;
  top: 40%;
  position: absolute;
  width: 100%;
}
/* line 41, ../sass/all.scss */
.content h1 {
  font: 3rem "LatoLightItalic";
  animation: fade-bottom 1s;
}
/* line 45, ../sass/all.scss */
.content p {
  font: 1.5rem "LatoLightItalic";
  padding-bottom: 10px;
  animation: simple-fade 2s 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 52, ../sass/all.scss */
.content img {
  width: 55px;
  animation: rotate 1.5s 1s;
}

/* line 58, ../sass/all.scss */
header {
  position: absolute;
  width: 100%;
  padding: 30px 0 10px 0;
  z-index: 6;
}
@media (max-width: 991px) {
  /* line 64, ../sass/all.scss */
  header .navMenu {
    text-align: right;
  }
}
/* line 68, ../sass/all.scss */
header .navMenu .icon-menu {
  display: none;
  height: 33px;
  width: 37px;
  float: right;
  padding: 5px;
  cursor: pointer;
}
/* line 75, ../sass/all.scss */
header .navMenu .icon-menu .divide {
  display: block;
  height: 2px;
  margin: 4px 0;
  background: #f50057;
}
/* line 83, ../sass/all.scss */
header .navMenu ul li {
  display: inline;
}

@media (max-width: 768px) {
  /* line 94, ../sass/all.scss */
  header .navMenu .icon-menu {
    display: block;
  }
  /* line 97, ../sass/all.scss */
  header .navMenu ul {
    position: fixed;
    right: 0;
    top: 0;
    padding-right: 20px;
    height: 100%;
    width: 200px;
    max-width: 100%;
    box-shadow: 0 0 7px -1px rgba(0, 0, 0, 0.1);
    background: #fff;
    display: none;
    transform: translateX(200px);
    transition: all 1s ease-in-out;
  }
  /* line 112, ../sass/all.scss */
  header .navMenu ul li {
    display: block;
  }
  /* line 114, ../sass/all.scss */
  header .navMenu ul li a {
    display: block;
  }
  /* line 119, ../sass/all.scss */
  header .navMenu .overlay-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    display: none;
  }
}
/*
header {
  position: absolute;
  width: 100%;
  padding: 30px 0 10px 0;
  z-index: 6;
  .navbar {
    border: none;
    background: transparent;
    margin-bottom: 0;
    animation: fade-low 0.5s 2.9s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    .nav-container {
      text-align: center;
      ul.navbar-nav {
        float: none;
        display: inline-block;
        li {
          a {
            text-transform: uppercase;
            font: 12px $font-Lato;
            color: $grey;
            background: transparent;
            font-weight: 400;
            letter-spacing: 2px;
            padding: 10px 13px;
          }
        }
        li.active {
          background: transparent;
          a {
            color: $crimson;
          }
        }
      }
    }
  }
}
*/
/* line 173, ../sass/all.scss */
.page-container {
  backface-visibility: hidden;
}
/* line 175, ../sass/all.scss */
.page-container .left-side {
  animation: animation-slide-right 1s 2.5s;
  position: fixed;
  width: 50%;
  z-index: 1;
}
@media (max-width: 991px) {
  /* line 175, ../sass/all.scss */
  .page-container .left-side {
    position: absolute;
    width: 100%;
  }
}
/* line 184, ../sass/all.scss */
.page-container .left-side .overlay-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
      /* h3 {
         top: 75%;
         color: rgba(255,255,255,0.6);
         z-index: 1;
         position: relative;
         font: 2.8rem $font-LatoI;
         text-align: center;

       }*/
}
/* line 191, ../sass/all.scss */
.page-container .left-side .overlay-panel img {
  position: absolute;
  z-index: 1;
}
/* line 207, ../sass/all.scss */
.page-container .left-side .slideshow .carousel-inner .item {
  -webkit-transition: 3s cubic-bezier(0.55, 0.09, 0.68, 0.53) right;
  -moz-transition: 3s cubic-bezier(0.55, 0.09, 0.68, 0.53) right;
  -o-transition: 3s cubic-bezier(0.55, 0.09, 0.68, 0.53) right;
  transition: 3s cubic-bezier(0.55, 0.09, 0.68, 0.53) right;
  animation: fade 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 215, ../sass/all.scss */
.page-container .left-side .slideshow .carousel-inner .item img {
  object-fit: cover;
  object-position: inherit;
  height: 100vh !important;
  width: 100%;
  animation: scale 25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 225, ../sass/all.scss */
.page-container .left-side .slideshow .carousel-inner .item.active {
  overflow: hidden;
}
/* line 231, ../sass/all.scss */
.page-container .right-side {
  background: #fffcff;
  float: right;
  width: 50%;
  /* --------------Section Price -----------------*/
  /* ----------------------Section Portfolio ---------------------*/
  /* --------------Section Contacts ---------------*/
  /* ------------Footer-----------*/
}
@media (max-width: 991px) {
  /* line 231, ../sass/all.scss */
  .page-container .right-side {
    width: 100%;
  }
}
/* line 238, ../sass/all.scss */
.page-container .right-side section.full-height {
  position: relative;
  height: 100vh;
  z-index: 2;
}
/* line 243, ../sass/all.scss */
.page-container .right-side section.full-height .head .content {
  top: 32%;
}
/* line 246, ../sass/all.scss */
.page-container .right-side section.full-height .head .head-content, .page-container .right-side section.full-height .head .scroll {
  animation: animation-slide-left 1s 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 250, ../sass/all.scss */
.page-container .right-side section.full-height .head .head-content p, .page-container .right-side section.full-height .head .scroll p {
  font: 1rem "LatoLight";
  line-height: 1.8rem;
  color: rgba(90, 90, 90, 0.9);
}
/* line 256, ../sass/all.scss */
.page-container .right-side section.full-height .head #head-description {
  width: 65%;
  margin: 0 auto;
}
/* line 261, ../sass/all.scss */
.page-container .right-side section.full-height .head .scroll {
  position: absolute;
  width: 100%;
  bottom: 3%;
}
/* line 266, ../sass/all.scss */
.page-container .right-side section.full-height .head .scroll img.gif {
  width: 65px;
  opacity: 0.8;
}
/* line 270, ../sass/all.scss */
.page-container .right-side section.full-height .head .scroll p {
  font: 10px "LatoRegular";
  text-transform: uppercase;
}
/* line 280, ../sass/all.scss */
.page-container .right-side section.price {
  position: relative;
  padding-top: 5%;
}
/* line 283, ../sass/all.scss */
.page-container .right-side section.price .rowPrices {
  padding-top: 5%;
}
/* line 286, ../sass/all.scss */
.page-container .right-side section.price .rowPrices .column h3 {
  position: relative;
  padding-bottom: 10px;
  font: 1.2rem/1.8rem "LatoItalic";
  color: #424242;
  font-weight: 300;
}
/* line 292, ../sass/all.scss */
.page-container .right-side section.price .rowPrices .column h3:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 26px;
  height: 2px;
  background: #f50057;
}
/* line 302, ../sass/all.scss */
.page-container .right-side section.price .rowPrices .column p {
  font: 1rem "LatoLight";
  line-height: 1.6rem;
  color: rgba(90, 90, 90, 0.9);
  padding-top: 10px;
}
/* line 308, ../sass/all.scss */
.page-container .right-side section.price .rowPrices .column p.cost {
  font: 1rem "LatoBoldItalic";
  color: #f50057;
}
/* line 314, ../sass/all.scss */
.page-container .right-side section.price .rowPrices .column#item-3:after, .page-container .right-side section.price .rowPrices .column#item-6:after, .page-container .right-side section.price .rowPrices .column#item-9:after {
  position: absolute;
  top: 20%;
  left: 30px;
  color: rgba(128, 128, 128, 0.09);
  line-height: 220px;
  font-family: "LatoRegular";
  font-size: 212px;
  font-weight: 900;
  font-style: normal;
  content: 'Hi';
}
/* line 326, ../sass/all.scss */
.page-container .right-side section.price .rowPrices .column.text-center h3:after {
  left: 48%;
}
/* line 329, ../sass/all.scss */
.page-container .right-side section.price .rowPrices .float-left {
  float: left;
}
/* line 332, ../sass/all.scss */
.page-container .right-side section.price .rowPrices .float-right {
  float: right;
}
/* line 339, ../sass/all.scss */
.page-container .right-side h2 {
  font: 2rem "LatoRegular";
  text-align: center;
}
/* line 343, ../sass/all.scss */
.page-container .right-side hr {
  background: #f50057;
  width: 40%;
  height: 1px;
  position: relative;
}
/* line 348, ../sass/all.scss */
.page-container .right-side hr:after {
  content: '';
  background: url("../img/raspberries-small.png") no-repeat center center;
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: -12px;
}
/* line 357, ../sass/all.scss */
.page-container .right-side hr.end-hr {
  margin-top: 40px;
}
/* line 360, ../sass/all.scss */
.page-container .right-side .enroll {
  padding-top: 6%;
  padding-bottom: 3%;
}
/* line 363, ../sass/all.scss */
.page-container .right-side .enroll a {
  border: 2px solid #f50057;
  border-radius: 0;
  color: #f50057;
  background: transparent;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
  font: 15px 'LatoBoldItalic', sans-serif;
  cursor: pointer;
}
/* line 365, ../sass/all.scss */
.page-container .right-side .enroll a:hover {
  border: 2px solid #f50057;
  border-radius: 0;
  color: #fff;
  background: #f50057;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
  font: 15px 'LatoBoldItalic', sans-serif;
  cursor: pointer;
}
/* line 372, ../sass/all.scss */
.page-container .right-side section.portfolio {
  position: relative;
  padding-top: 5%;
}
/* line 375, ../sass/all.scss */
.page-container .right-side section.portfolio .nav-pills > li.active > a, .page-container .right-side section.portfolio .nav-pills > li.active > a:focus, .page-container .right-side section.portfolio .nav-pills > li.active > a:hover {
  background: transparent !important;
  color: #212121;
}
/* line 379, ../sass/all.scss */
.page-container .right-side section.portfolio ul {
  display: inline-block;
}
/* line 383, ../sass/all.scss */
.page-container .right-side section.portfolio ul li a:hover {
  background: transparent;
}
/* line 386, ../sass/all.scss */
.page-container .right-side section.portfolio ul li a:hover:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 30px;
  height: 1px;
  margin-left: -15px;
  background: #212121;
  -webkit-transition: width .3s, margin .3s;
  transition: width .3s, margin .3s;
}
/* line 399, ../sass/all.scss */
.page-container .right-side section.portfolio ul li a:focus {
  background: transparent;
  outline: none;
}
/* line 403, ../sass/all.scss */
.page-container .right-side section.portfolio ul li a {
  color: #212121;
  font: 16px "LatoLightItalic";
  font-weight: 600;
}
/* line 407, ../sass/all.scss */
.page-container .right-side section.portfolio ul li a:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 1px;
  margin-left: 0;
  -webkit-transition: width .3s, margin .3s;
  transition: width .3s, margin .3s;
}
/* line 421, ../sass/all.scss */
.page-container .right-side section.portfolio ul li.active a:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 30px;
  height: 1px;
  margin-left: -15px;
  background: #212121;
  -webkit-transition: width .3s, margin .3s;
  transition: width .3s, margin .3s;
}
/* line 435, ../sass/all.scss */
.page-container .right-side section.portfolio .tab-content {
  padding-top: 4%;
}
/* line 438, ../sass/all.scss */
.page-container .right-side section.portfolio .tab-content .col-md-4 {
  padding: 10px 5px 0 5px;
}
/* line 440, ../sass/all.scss */
.page-container .right-side section.portfolio .tab-content .col-md-4 .overflow {
  overflow: hidden;
}
/* line 444, ../sass/all.scss */
.page-container .right-side section.portfolio .tab-content .col-md-4 a img {
  width: 100%;
  transition: all 0.5s;
}
/* line 447, ../sass/all.scss */
.page-container .right-side section.portfolio .tab-content .col-md-4 a img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
/* line 456, ../sass/all.scss */
.page-container .right-side .fancybox-lock .fancybox-overlay {
  overflow: hidden !important;
}
/* line 460, ../sass/all.scss */
.page-container .right-side section.contacts {
  position: relative;
  padding-top: 4%;
}
/* line 463, ../sass/all.scss */
.page-container .right-side section.contacts #map {
  height: 360px;
  margin-top: 5%;
  box-shadow: 0 0 3px rgba(245, 0, 87, 0.65);
}
/* line 468, ../sass/all.scss */
.page-container .right-side section.contacts .rowContacts {
  position: relative;
  padding-top: 4%;
}
/* line 471, ../sass/all.scss */
.page-container .right-side section.contacts .rowContacts p {
  font: 1rem "LatoLight";
  line-height: 1.6rem;
  color: rgba(90, 90, 90, 0.9);
}
/* line 476, ../sass/all.scss */
.page-container .right-side section.contacts .rowContacts p.title-contact {
  font: 1.2rem/3rem "LatoItalic";
  font-weight: 300;
  color: #f50057;
}
/* line 481, ../sass/all.scss */
.page-container .right-side section.contacts .rowContacts a {
  display: inline-block;
  margin-top: 15px;
}
/* line 485, ../sass/all.scss */
.page-container .right-side section.contacts .rowContacts #sprite {
  width: 32px;
  height: 20px;
  background: url("../img/sprite-vk.png") no-repeat top;
}
/* line 489, ../sass/all.scss */
.page-container .right-side section.contacts .rowContacts #sprite:hover {
  background-position: bottom;
}
/* line 494, ../sass/all.scss */
.page-container .right-side section.contacts .col-md-10 {
  padding-bottom: 7%;
  border-bottom: 1px solid rgba(245, 0, 87, 0.19);
}
/* line 501, ../sass/all.scss */
.page-container .right-side footer {
  padding-top: 6%;
  padding-bottom: 5%;
}
/* line 504, ../sass/all.scss */
.page-container .right-side footer li {
  text-align: center;
}
/* line 507, ../sass/all.scss */
.page-container .right-side footer a {
  font: 12px/26px "LatoRegular";
  color: rgba(90, 90, 90, 0.9);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
}
/* line 513, ../sass/all.scss */
.page-container .right-side footer a:hover {
  color: #f50057;
}
/* line 517, ../sass/all.scss */
.page-container .right-side footer img {
  width: 55%;
  cursor: pointer;
}

/* line 525, ../sass/all.scss */
a.fancybox-next, a.fancybox-prev {
  outline: none !important;
}

/* line 529, ../sass/all.scss */
#firstHeading {
  font-weight: 900;
}

/* line 532, ../sass/all.scss */
#bodyContent {
  overflow: hidden;
}

/* ------------MODAL------------- */
/* line 538, ../sass/all.scss */
.modal .modal-dialog {
  margin-top: 9%;
}
/* line 540, ../sass/all.scss */
.modal .modal-dialog .modal-content {
  border: 1px solid #f50057;
  padding-top: 3%;
  border-radius: 2px;
}
/* line 544, ../sass/all.scss */
.modal .modal-dialog .modal-content button.close {
  padding-right: 15px;
  padding-top: 4px;
}
/* line 547, ../sass/all.scss */
.modal .modal-dialog .modal-content button.close:hover {
  opacity: 1;
}
/* line 551, ../sass/all.scss */
.modal .modal-dialog .modal-content h4 {
  color: #212121;
  font: 1.5rem "LatoLightItalic";
  padding-left: 15px;
  padding-bottom: 15px;
}
/* line 557, ../sass/all.scss */
.modal .modal-dialog .modal-content form {
  margin-bottom: 6%;
}
/* line 559, ../sass/all.scss */
.modal .modal-dialog .modal-content form input[type="text"], .modal .modal-dialog .modal-content form input[type="tel"], .modal .modal-dialog .modal-content form textarea {
  width: 90%;
  margin: 0 auto;
  color: #f50057;
  font: 16px "LatoLight";
}
/* line 565, ../sass/all.scss */
.modal .modal-dialog .modal-content form .rowCheckbox {
  width: 89%;
  margin: 0 auto;
}
/* line 569, ../sass/all.scss */
.modal .modal-dialog .modal-content form .checkbox {
  text-align: left;
}
/* line 571, ../sass/all.scss */
.modal .modal-dialog .modal-content form .checkbox label {
  font: 14px "LatoLight";
  cursor: pointer;
  padding-left: 0;
}
/* line 575, ../sass/all.scss */
.modal .modal-dialog .modal-content form .checkbox label input[type="checkbox"] {
  display: none;
}
/* line 578, ../sass/all.scss */
.modal .modal-dialog .modal-content form .checkbox label input[type="checkbox"] + span {
  margin-right: 8px;
  float: left;
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  background: url("../img/sprite-checkbox.png") no-repeat top;
}
/* line 588, ../sass/all.scss */
.modal .modal-dialog .modal-content form .checkbox label input[type="checkbox"]:checked + span {
  background: url("../img/sprite-checkbox.png") no-repeat bottom;
}
/* line 591, ../sass/all.scss */
.modal .modal-dialog .modal-content form .checkbox label span.price-modal {
  font: 15px "LatoRegular";
  color: #f50057;
  padding-left: 3px;
}
/* line 598, ../sass/all.scss */
.modal .modal-dialog .modal-content form textarea {
  width: 90%;
  margin: 6% auto 0;
  font: 16px "LatoLight";
}
/* line 603, ../sass/all.scss */
.modal .modal-dialog .modal-content form .form-control:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(0, 0, 0, 0.2);
  border-color: #7a7a7a;
}
/* line 608, ../sass/all.scss */
.modal .modal-dialog .modal-content form button {
  margin-top: 6%;
  border: 2px solid #f50057;
  border-radius: 0;
  color: #f50057;
  background: transparent;
  padding: 14px 50px;
  text-decoration: none;
  text-transform: uppercase;
  font: 15px 'LatoBoldItalic', sans-serif;
  cursor: pointer;
}
/* line 619, ../sass/all.scss */
.modal .modal-dialog .modal-content form button:hover {
  background: #f50057;
  color: #fff;
}
/* line 625, ../sass/all.scss */
.modal .modal-dialog .modal-content input::-webkit-input-placeholder {
  font: 16px "LatoLightItalic";
}
/* line 626, ../sass/all.scss */
.modal .modal-dialog .modal-content input::-moz-placeholder {
  font: 16px "LatoLightItalic";
}
/* line 627, ../sass/all.scss */
.modal .modal-dialog .modal-content input:-moz-placeholder {
  font: 16px "LatoLightItalic";
}
/* line 628, ../sass/all.scss */
.modal .modal-dialog .modal-content input:-ms-input-placeholder {
  font: 16px "LatoLightItalic";
}
/* line 629, ../sass/all.scss */
.modal .modal-dialog .modal-content textarea::-webkit-input-placeholder {
  font: 16px "LatoLightItalic";
}
/* line 630, ../sass/all.scss */
.modal .modal-dialog .modal-content textarea::-moz-placeholder {
  font: 16px "LatoLightItalic";
}
/* line 631, ../sass/all.scss */
.modal .modal-dialog .modal-content textarea:-moz-placeholder {
  font: 16px "LatoLightItalic";
}
/* line 632, ../sass/all.scss */
.modal .modal-dialog .modal-content textarea:-ms-input-placeholder {
  font: 16px "LatoLightItalic";
}

/* =========Keyframes===========*/
@keyframes fade-bottom {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-low {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes simple-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes animation-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(70%, 0, 0);
    transform: translate3d(70%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes animation-slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes translate {
  0% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0px);
  }
}
/* =========FlexBox===========*/
/* line 737, ../sass/all.scss */
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 744, ../sass/all.scss */
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 752, ../sass/all.scss */
.flex-column {
  -webkit-flex-direction: column;
  flex-direction: column;
}

/* line 757, ../sass/all.scss */
.flex-row {
  -webkit-flex-direction: row;
  flex-direction: row;
}

/* line 763, ../sass/all.scss */
.flex-center-all {
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
}

/*============ Clearfix=========== */
/* line 771, ../sass/all.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 775, ../sass/all.scss */
.clearfix:after {
  clear: both;
}

/* line 779, ../sass/all.scss */
.clrearfix {
  zoom: 1;
}
