/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/layout";
@import "compass/typography";
@import "compass/utilities";

@import "variables";

html, body {
  font-size: 16px;
}

.padding {
  padding: 0;
}



.page-loader {
  background-color: #f9efed;
  .loader-content {
    text-align: center;
    h1 {
      font: 3rem $font-LatoLI;
      text-align: center;
      animation: fade-bottom 1s;
    }
    p {
      font: 1.5rem $font-LatoLI;
      padding-bottom: 10px;
      animation: simple-fade 2s 0.6s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;


    }
    img {
      width: 55px;
      animation: rotate 1.5s 1s;
    }
  }
}

.page-container {
  .left-side {
    animation: animation-slide-right 1.5s 2.5s;
    img {
      width: 100%;
    }
  }
}

/* =========Keyframes===========*/
@keyframes fade-bottom {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes simple-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}


@keyframes animation-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* =========FlexBox===========*/
.flex-container {
  display: flex;
  flex-direction:  column;
  justify-content: center;
  align-items: center;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.flex-row {
  -webkit-flex-direction: row;
  flex-direction: row;
}


.flex-center-all {
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
}


/*============ Clearfix=========== */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.clrearfix{
  zoom: 1;
}



