/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/layout";
@import "compass/typography";
@import "compass/utilities";

@import "variables";
@import "mixins";

html, body {
  font-size: 16px;
}

.body {
  overflow: hidden;
  padding-right: 0 !important;
}

.padding {
  padding: 0;
}

.page-loader {
  background-color: #f9efed;
  position: fixed;
  z-index: 1000;
  width: 100%;

}

.content {
  text-align: center;
  top: 40%;
  position: absolute;
  width: 100%;
  h1 {
    font: 3rem $font-LatoLI;
    animation: fade-bottom 1s;
  }
  p {
    font: 1.5rem $font-LatoLI;
    padding-bottom: 10px;
    animation: simple-fade 2s 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  img {
    width: 55px;
    animation: rotate 1.5s 1s;
  }
}

/*-------------- HEADER----------*/
header {
  position: absolute;
  width: 100%;
  padding:0 10px 0;
  z-index: 6;
  .col-md-6:nth-child(1) {
    @media (min-width: 992px) {
      padding-top: 25px;
    }
  }
  .navMenu {
    @media (max-width: 991px) {
     text-align: right;
    }
    animation: fade-bottom 1s;
    .icon-menu {
      display: none;
      height: 33px;
      width: 37px;
      float: right;
      padding:5px;
      cursor: pointer;
      .divide {
        display: block;
        height: 2px;
        margin: 3px 0 4px 0;
        background: $crimson;
      }
    }
    ul {
      padding: 30px 0;
      li {
        display: inline;
        a {
          text-transform: uppercase;
          font: 12px $font-Lato;
          color: $grey;
          background: transparent;
          font-weight: 400;
          letter-spacing: 2px;
          padding: 10px 13px;
          text-decoration: none;
        }
      }
      a.active  {
        color: $crimson;
      }
    }
  }

}

/* Media */
@media (max-width: 991px) {
  header {
    .navMenu {
      .icon-menu {
        display: block;
        border: 2px solid crimson;
        border-radius: 3px;
        margin-right: 3%;
        margin-top: 3%;
        background: #fffcff;
        .divide:last-child {

        }
      }
        ul.sidebar {
          position: fixed;
          top: 0;
          padding-right: 20px;
          padding-top: 20px;
          height: 100%;
          width: 200px;
          max-width: 100%;
          box-shadow: 0 0 7px -1px rgba(0, 0, 0, 0.1);
          background: $white;
          right:-200px;
          transition: all 1s ease-in-out;
          li {
            display: block;
            a{
              display: block;
            }
          }
        }
      .sidebar.active {
        right: 0;
      }
      .overlay-sidebar {
        position: fixed;
        top:0;
        left:0;
        right: 0;
        bottom: 0;
        width: 100%;
        background: rgba(255,255,255,0.6);
        display: none;
      }
    }
  }

}
/*
@media (min-width: 768px) and (max-width: 991px) {
  header .navMenu ul li a {
    color: $white;
    font-family: $font-LatoB;
  }
}
*/

@media (max-width: 991px) {
  .head {
    h1 {
      color: $white;
    }
    p#head-description {
      color: $white;
      font-family: $font-Lato;
    }
     .enroll a#enroll {
      @include button($crimson, $crimson, $white, 0, uppercase);
    }
  }
}

@media (max-width: 430px) {
  .head {
    .content {
      top: 24% !important;
    }
  }
}


/* End media */

.page-container {
  backface-visibility: hidden;
  .left-side {
    animation: animation-slide-right 1s 2.5s;
    position: fixed;
    width: 50%;
    z-index: 10;
    @media (max-width: 991px) {
      position: absolute;
      width: 100%;
      z-index: 1;
    }
    .overlay-panel {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 20px;
      z-index: 999999;
      &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        padding-left: 20px;
        box-shadow: -10px 0px #FFFCFFB3 inset;
        z-index: 999999;
        content: '';
        box-shadow: -9px 0px 9px #FFFCFF inset;
        @media (max-width: 991px) {
         box-shadow: none;
        }
      }
      img {
        position: absolute;
        z-index: 1;
      }
    }

    /*------------SlideShow-------------*/
    .slideshow {
      .carousel-inner {
        .item {
          -webkit-transition: 3s cubic-bezier(.55,.09,.68,.53) right;
          -moz-transition: 3s cubic-bezier(.55,.09,.68,.53) right;
          -o-transition: 3s cubic-bezier(.55,.09,.68,.53) right;
          transition: 3s cubic-bezier(.55,.09,.68,.53) right;
          animation: fade 3s;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
          img {
            object-fit: cover;
            object-position: inherit;
            height: 100vh !important;
            width: 100%;
            animation: scale 25s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
          }
        }
        .item.active {
          overflow: hidden;
        }
      }
    }
  }
  .right-side {
    background: $light;
    float: right;
    width: 50%;
    @media (max-width: 991px) {
      width: 100%;
    }
    section.full-height {
      position: relative;
      height: 100vh;
      z-index: 2;
      .head {
        .content {
          top: 32%;
        }
        .head-content {
          animation: animation-slide-left 1s 2.5s;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
          p {
            font: 1rem $font-LatoL;
            line-height:1.8rem;
            color: rgba(90, 90, 90, 0.9);
          }
        }
        #head-description {
          width: 65%;
          margin: 0 auto;

        }
        .scroll {
          position: absolute;
          width: 100%;
          bottom: 3%;
        @extend  .head-content;
          img.gif {
            width: 65px;
            opacity: 0.8;
          }
          p {
            font: 10px $font-Lato;
            text-transform: uppercase;
          }
        }

      }
    }

    /* --------------Section Price -----------------*/
    section.price {
      position: relative;
      padding-top: 5%;
      .rowPrices {
        padding-top: 5%;
        .column {
          h3 {
            position: relative;
            padding-bottom: 10px;
            font: 1.2rem/1.8rem $font-LatoI;
            color: #424242;
            font-weight: 300;
            &:after {
              content: '';
              position: absolute;
              left: 0;
              bottom: 0;
              width: 26px;
              height: 2px;
              background: $crimson;
            }
          }
          p {
            font: 1rem $font-LatoL;
            line-height:1.6rem;
            color: rgba(90, 90, 90, 0.9);
            padding-top: 10px;
          }
          p.cost {
            font: 1rem $font-LatoBI;
            color: $crimson;

          }
          }
        .column#item-3:after, .column#item-6:after, .column#item-9:after{
            position: absolute;
            top: 20%;
            left: 30px;
            color: rgba(128, 128, 128, 0.09);
            line-height: 220px;
            font-family: $font-Lato;
            font-size: 212px;
            font-weight: 900;
            font-style: normal;
            content: 'Hi';
        }
        .column.text-center h3:after {
          left: 48%;
        }
        .float-left {
          float: left;
        }
        .float-right {
          float: right;
        }
      }


    }
    h2 {
      font: 2rem $font-Lato;
      text-align: center;
    }
    hr {
      background: $crimson;
      width: 40%;
      height: 1px;
      position: relative;
      &:after {
        content: '';
        background: url("../img/raspberries-small.png") no-repeat center center;
        position: absolute;
        width: 100%;
        height: 30px;
        bottom: -12px;
      }
    }
    hr.end-hr {
      margin-top: 40px;
    }
    .enroll {
      padding-top: 6%;
      padding-bottom: 3%;
      a {
        @include button(transparent, $crimson, $crimson, 0, uppercase);
        &:hover {
          @include button($crimson, $crimson, $white, 0, uppercase);
        }
      }
    }

    @media (max-width: 991px) {
      .rowPrices{
        div {
          text-align: center !important;
        }
        h3:after {
          left: 47% !important;
        }
      }
    }

    @media (max-width: 767px) {
      .rowPrices{
        padding-top: 0 !important;
        .col-xs-12 {
          padding-top: 25px !important;
        }

      }
    }

    @media (max-width: 430px) {
      section.price {
        div.enroll {
          padding-top: 10% !important;
          padding-bottom: 5% !important;
        }
      }

    }

 /* ----------------------Section Portfolio ---------------------*/
    section.portfolio  {
      position: relative;
      padding-top: 5%;
      .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
        background: transparent !important;
        color: $dark;
      }
      ul {
        display: inline-block;

        li{
          a:hover  {
            background: transparent;
          }
          a:hover:after {
            content: "";
            display: block;
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 30px;
            height: 1px;
            margin-left: -15px;
            background: $dark;
            -webkit-transition: width .3s, margin .3s;
            transition: width .3s, margin .3s;
          }
          a:focus {
            background: transparent;
            outline: none;
          }
          a {
            color: $dark;
            font: 16px $font-LatoLI;
            font-weight: 600;
            &:after {
                content: "";
                display: block;
                position: absolute;
                left: 50%;
                bottom: 0;
                width: 0;
                height: 1px;
                margin-left: 0;
                -webkit-transition: width .3s, margin .3s;
                transition: width .3s, margin .3s;
            }
          }
        }
        li.active a:after {
          content: "";
          display: block;
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 30px;
          height: 1px;
          margin-left: -15px;
          background: $dark;
          -webkit-transition: width .3s, margin .3s;
          transition: width .3s, margin .3s;
        }
      }
      .tab-content {
        padding-top: 4%;

        .col-md-4 {
          padding: 10px 5px 0 5px;
          .overflow {
            overflow: hidden;
          }
          a {
            img {
              width: 100%;
              transition: all 0.5s;
              &:hover {
                transform: scale(1.1);
                opacity: 0.8;
              }
            }
          }
        }
      }
    }
    .fancybox-lock .fancybox-overlay {
      overflow: hidden !important;
    }

    @media (min-width: 992px) and(max-width: 1050px) {
      .nav-pills {
        li:last-child {
          float: none;
        }
      }

    }

    @media (max-width: 430px) {
      section.portfolio {
       .nav-pills {
         a {
           font-size: 14px;
           padding: 10px 5px;
         }
       }
      }
    }


    /* --------------Section Contacts ---------------*/
    section.contacts {
      position: relative;
      padding-top: 4%;
      #map {
        height: 360px;
        margin-top: 5%;
        box-shadow: 0 0 3px rgba(245,0,87,0.65);
      }
      .rowContacts {
        position: relative;
        padding-top: 4%;
        p {
          font: 1rem "LatoLight";
          line-height: 1.6rem;
          color: rgba(90, 90, 90, 0.9);
        }
        p.title-contact {
          font: 1.2rem/3rem "LatoItalic";
          font-weight: 300;
          color: $crimson;
        }
        a {
          display: inline-block;
          margin-top: 15px;
        }
        #sprite{
          width: 32px;
          height: 20px;
          background: url("../img/sprite-vk.png") no-repeat top;
          &:hover {
            background-position: bottom;
          }
        }
      }
      .col-md-10 {
        padding-bottom: 7%;
        border-bottom: 1px solid rgba(245, 0, 87, 0.19);;
      }
    }

    /* ------------Footer-----------*/
    footer {
      padding-top: 6%;
      padding-bottom: 5%;
      li {
        text-align: center;
      }
      a {
        font: 12px/26px $font-Lato;
        color: rgba(90, 90, 90, 0.9);;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1px;
        &:hover {
          color: $crimson;
        }
      }
      img {
        width: 55%;
        cursor: pointer;
      }
    }
  }
}

a.fancybox-next, a.fancybox-prev {
  outline: none !important;
}

#firstHeading {
  font-weight: 900;
}
#bodyContent {
  overflow: hidden;
}

/* ------------MODAL------------- */
.modal {
  .modal-dialog{
    margin-top: 9%;
    .modal-content {
      border: 1px solid $crimson;
      padding-top: 3%;
      border-radius: 2px;
      button.close {
        padding-right: 15px;
        padding-top: 4px;
        &:hover {
          opacity: 1;
        }
      }
      h4 {
        color: $dark;
        font: 1.5rem $font-LatoLI;
        padding-left: 15px;
        padding-bottom: 15px;
      }
      form {
        margin-bottom: 6%;
        input[type="text"], input[type="tel"], textarea {
          width: 90%;
          margin: 0 auto;
          color: $crimson;
          font: 16px $font-LatoL;
        }
        .rowCheckbox {
          width: 89%;
          margin: 0 auto;
        }
        .checkbox {
          text-align: left;
          label{
            font: 14px $font-LatoL;
            cursor: pointer;
            padding-left: 0;
            input[type="checkbox"] {
              display: none;
            }
            input[type="checkbox"] + span {
              margin-right: 8px;
              float: left;
              width: 20px;
              height: 20px;
              display: block;
              position: relative;
              background: url('../img/sprite-checkbox.png') no-repeat top;

            }
            input[type="checkbox"]:checked + span {
              background: url('../img/sprite-checkbox.png') no-repeat bottom;
            }
            span.price-modal {
              font: 15px $font-Lato;
              color: $crimson;
              padding-left: 3px;
            }
          }
        }
        textarea {
          width: 90%;
          margin: 6% auto 0;
          font: 16px $font-LatoL;
        }
        .form-control:focus {
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075),
                      0 0 6px rgba(0,0,0,0.2);
          border-color: #7a7a7a;
        }
        button {
          margin-top: 6%;
          border: 2px solid $crimson;
          border-radius: 0;
          color: $crimson;
          background: transparent;
          padding: 14px 50px;
          text-decoration: none;
          text-transform: uppercase;
          font: 15px 'LatoBoldItalic', sans-serif;
          cursor: pointer;
          &:hover {
            background: $crimson;
            color: $white;
          }
        }
      }
      input::-webkit-input-placeholder {font: 16px $font-LatoLI;}
      input::-moz-placeholder          {font: 16px $font-LatoLI;}
      input:-moz-placeholder           {font: 16px $font-LatoLI;}
      input:-ms-input-placeholder      {font: 16px $font-LatoLI;}
      textarea::-webkit-input-placeholder {font: 16px $font-LatoLI;}
      textarea::-moz-placeholder          {font: 16px $font-LatoLI;}
      textarea:-moz-placeholder           {font: 16px $font-LatoLI;}
      textarea:-ms-input-placeholder      {font: 16px $font-LatoLI;}
    }
  }

}

/* =========Keyframes===========*/
@keyframes fade-bottom {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes top-header {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fade{
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-low{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes simple-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}


@keyframes animation-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(70%, 0, 0);
    transform: translate3d(70%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes animation-slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes translate {
  0% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0px);
  }
}


/* =========FlexBox===========*/
.flex-container {
  display: flex;
  flex-direction:  column;
  justify-content: center;
  align-items: center;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.flex-row {
  -webkit-flex-direction: row;
  flex-direction: row;
}


.flex-center-all {
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
}


/*============ Clearfix=========== */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.clrearfix {
  zoom: 1;
}


.fancybox-lock {
  overflow: auto !important; }


