/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/layout";
@import "compass/typography";
@import "compass/utilities";

@import "variables";

html, body {
  font-size: 16px;
}

.page-loader {
  background-color: #f9efed;
  .loader-content {
    h1 {
      text-align: center;
      font: 3rem $font-LatoLI;
    }
    p {
      font: 1.5rem $font-LatoLI;
    }
  }

}



.flex-container {
  display: flex;
  flex-direction:  column;
  justify-content: center;
  align-items: center;
}

/* =========FlexBox===========*/
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.flex-row {
  -webkit-flex-direction: row;
  flex-direction: row;
}


.flex-center-all {
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
}



