//font
$font-Lato: 'LatoRegular';
$font-LatoLI: 'LatoLightItalic';
$font-LatoI: 'LatoItalic';
$font-LatoB: 'LatoBold';
$font-LatoL: 'LatoLight';
$font-LatoBI: 'LatoBoldItalic';


$white: #fff;
$dark: rgba(33,33,33 ,1);
$light: #fffcff;
$crimson: rgba(245,0,87 ,1);
$black: #000;
$grey: rgba(128, 128, 128, 0.6);